*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-grey-light-1);
  font-family: var(--color-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

.container {
  display: grid;
  grid-template-rows: minmax(100vh, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

#root {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: minmax(16vh, min-content) min-content;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 1rem;
}
